body {
    background-image: url(images/battlegroundbackground.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-color: #191919;
}

button {
    margin-top: 100%;
    margin-left: 35%;
}

.card {
    margin-top: 40%;
}