body {
    /* background-image: url(images/mainbackground.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

h1 {
    font-size: 5vw;
}

#scrollingText {
    color: #ffd700;
    font-family: Impact;
}

#opponentImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
